@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
.main-wrapper {
  display: flex;
  flex-direction: column; /* 기본은 모바일(세로) */
  gap: 30px;
}

.post-content {
  width: 100%;
}

.sidebar-content {
  width: 100%;
}

/* 627px 이상일 때 (데스크탑) */
@media (min-width: 900px) {
  .main-wrapper {
    flex-direction: row; /* 가로 배치 */
  }
  .post-content {
    width: 60%;
  }
  .sidebar-content {
    width: 35%;
  }
}
.H1 {
  font-size: 24px;
  font-weight: 700;
}
.H2 {
  font-size: 20px;
  font-weight: 400;
}
.H3 {
  font-size: 18px;
  font-weight: 800;
}
.S1 {
  font-size: 20px;
  font-weight: 700;
}
.S2 {
  font-size: 20px;
  font-weight: 600;
}
.S3 {
  font-size: 16px;
  font-weight: 700;
}
.S4 {
  font-size: 16px;
  font-weight: 600;
}
.B1 {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .B1 {
    font-size: 14px;
  }
  .H2 {
    font-size: 16px;
  }
  /* .S1 {
    font-size: 14px;
  } */
}
.B2 {
  font-size: 16px;
  font-weight: 500;
}
.B3 {
  font-size: 16px;
  font-weight: 400;
}
.C1 {
  font-size: 14px;
  font-weight: 500;
}
.C2 {
  font-size: 14px;
  font-weight: 400;
}
.C3 {
  font-size: 12px;
  font-weight: 500;
}
.C4 {
  font-size: 12px;
  font-weight: 700;
}
